<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/usr_succ.css">
</head>

<body>
    <!-- <button id="taketest">
    Start
    </button> -->
    <div id="questions" class="">
        <div class="test-container">
            <div class="question_container">
                <div class="question" data-question-count="1">
                    <div class="content">
                        <h3 id="question_number">Questions</h3>
                        <p class="q" id="question">Do You Like Your Personality</p>
                        <ul class="answers">
                            <li> <a href="#" class="answer" data-question-id="140" data-answer-id="1">Definitely
                                    agree</a>
                            </li>
                            <li> <a href="#" class="answer selected" data-question-id="140" data-answer-id="2">Slightly
                                    agree</a> </li>
                            <li> <a href="#" class="answer" data-question-id="140" data-answer-id="3">Slightly
                                    disagree</a>
                            </li>
                            <li> <a href="#" class="answer" data-question-id="140" data-answer-id="4">Definitely
                                    disagree</a> </li>
                        </ul>
                    </div> <input type="hidden" name="question-140" value="2">
                </div>
            </div>
        </div>
    </div>
    <div class="pbar">
        <label for="poss">Positive:</label>
        <h1 id="poss" name="poss">Positive:</h1>
        <label for="neg">Negative:</label>
        <h1 id="neg" name="neg">Negative:</h1>
        <label for="neu">Neutral:</label>
        <h1 id="neu" name="neu">Neutral:</h1>
    </div>
</body>

<script src="/js/user_successreg.js">
</script>

</html>